#portfolio-wrapper{
  margin-top: 30vw;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  position: absolute;
}
.project-card{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  width: 70%;
  /* height: 40vw; */
  margin-bottom: 60vw;
  position: relative;
  border-radius: 20px;

}
.friendo{
  box-shadow: 1px 1px 15px 0px rgba(0, 0, 0, 0.658);
  background-color: white;
  height: 40vw;
  margin: -25vw 0 30vw 0;
}
.quizzo{
  margin: -10vw 0 20vw 0;
}
.project-card > img, .project-text{
  margin: auto 0 auto 0;
  width: 100%;
  border-radius: 20px;
  position: absolute;
  filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.726));
}
.project-text{
  background-color: #00000071;
  height: 30vw;
  width: 90%;
  opacity: 0; 
  display: grid;
  grid-template-columns: 35% 65%;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  transition: 0.4s all ease;
}
.text{
  margin: 0 auto 0 2vw;
}
.project-text:hover{
  pointer-events: all;
  opacity: 1;
  
  backdrop-filter: blur(5px);
}
.project-card > h1, .project-card > p{
  position: absolute;
  background-color: #282c3491;
}
.github-icon{
  width: 40%;
  filter: invert();
}
.gh-demo-wrapper{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.gh-demo-wrapper > a{
  transition: 0.4s ease all;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  height: fit-content;
}
.gh-demo-wrapper > a > p:hover{
  transform: scale(1.05);
  filter: invert(1) drop-shadow( 0 1px 5px rgb(255, 255, 255));
}
.gh-demo-wrapper > a > img:hover{
  transform: scale(1.05);
  filter: invert(0) drop-shadow( 0 1px 5px rgb(255, 255, 255));
}
@import url(https://fonts.googleapis.com/css?family=Bungee+Shade:regular);
.try-it{
  font-family: 'Bungee Shade';
  font-size: 3vw;
  text-align: center;
  color: white;
}
.in-progress{
  animation: float 3s linear infinite;
  width: 90vw !important;
  max-width: 100% !important;
  height: 10vw !important;
  background-color: rgba(179, 189, 155, 0.849);
  margin: -25vw 0 28vw 0;
  color: rgb(68, 71, 73);
  font-family: 'Bungee Shade';
  filter: drop-shadow(0 0 10px black);
  font-size: 4vw;
}
#in-progress-wrapper{
  perspective: 5000px;
}
@keyframes float {
  0%, 100%{
  color: rgb(68, 71, 73);
  }
  50%{
    color: rgb(209, 222, 231);
  }
}
@import url(https://fonts.googleapis.com/css?family=Bebas+Neue:regular);
.text h1 {
  font-family: 'Bebas Neue';
  font-size: 4vw ;
  color: rgb(248, 116, 83);
}
.text p{
  font-family: 'Bebas Neue';
  font-size: 2.5vw;
  width: 85%;
}